*,
*::before,
*::after {
    box-sizing: border-box;
}

.root {
    width: 100%;
    padding: 0 7.5px;
    max-width: 1750px;
    margin: 0 auto;
}
.content {
    width: 100%;
    display: flex;
}

.gridItem {
    padding: 15px;
}
